blosc2
Cython
sentence-transformers
pinecone-client
langchain
bitsandbytes
flask 
langchain-community
ctransformers==0.2.5
transformers
pypdf
pinecone-client[grpc]
python-dotenv


# To install without gRPC run:
# pip3 install pinecone-client
